@import url(../css/reset.css);
@import url(../css/colors.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
  height: 100%;
}

.container {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.container__sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding: 0 3rem 0 1.5rem;
  color: var(--sidebar-color);
  background: var(--sidebar-background);
}

.container__sidebar__brand {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.6rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;
}

.sidebar__brand {
  width: 3rem;
}

.sidebar__navbar__links {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.sidebar__navbar__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: capitalize;
}
